
<h2 align="center"><%= @book.name %></h2>
<div class="well col-xs-8 col-xs-offset-2">
	<h3 align="center">Author: <%= @book.author %></h3>
	<h3 align="center">Publication: <%= @book.publication %></h3>
	<h4 class="center description"><strong>Description: </strong></h4>
	<hr>
	<%= simple_format(@book.description) %>
	<% if @book.users %>
		<% @book.users.each do |user| %>
			<span>Book currently borrowed by <%= user.username %></span>
		<% end %>
	<% end %>
	<div class="book-actions">
		<% if admin? %>
			<%= link_to "Edit", edit_book_path(@book), class: "waves-effect waves-light btn" %>
			<%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure you want to delete this book?"}, class: "waves-effect waves-light btn" %>
		<% end %>
		<%= link_to "All Books", books_path, class: "waves-effect waves-light btn" %>
		<% if current_user %>
			<% if @book.users.empty? %>
				<%= render "borrows/form", book:  @book %><br/>
			<% end %>
		<% end %>
	</div>
</div>